
<div class="jumbotron text-center">
	<h1>What's happening? </h1>

	<%= form_for :post, url: tweets_path do |f| %>
		<p>
		<%= f.text_area :tweet, style: "width: 600px;" %>
		</p>
		<p><%= f.submit "tweet", class: "btn btn-primary" %></p>
	<% end %>
</div>

	<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 100%; padding: 12px;">
			<img class="card-img-top" src="http://www.cinemacafe.net/imgs/thumb_h1/3469.jpg" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title"><%= @profile.nickname %></h4>
				<p class="card-text"> <%= @profile.bio %> </p>
			</div>
		</div>
			
		</div>
			<ul class="col-sm-6 list-group">
				<% @tweets.each do |t| %>
						<li class="list-group-item">
							<p><%= t.tweet %></p>
							<div class="tweet-footer">
								<span ><%= t.user.profile.nickname %></span> | 
								<span><%= t.created_at.in_time_zone("Melbourne").strftime('%A %d %b %Y %H:%M') %></span>
							</div>
						</li>
				<% end %>
			</ul>
		<div class="col-sm-3"></div>

		
	</div>