
<div class="jumbotron text-center">

	<h1>What's happening? </h1>

	<%= form_with scope: :post, url: tweets_path do |f| %>
		<%= f.text_field :tweet, style: "width: 600px; margin: 30px;" %>
		<p><%= f.submit "tweet", class: "btn btn-primary" %></p>
	<% end %>

</div>

	<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 100%; padding: 12px;">
			<img class="card-img-top" src="http://i1.kym-cdn.com/photos/images/newsfeed/000/415/209/3b4.png" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title"><%= @user.try(:username) %></h4>
				<p class="card-text"> 
				<%= @user.profile.try(:bio) %>
				<%= link_to 'Update profile', path %>
				</p>
			</div>
		</div>
			
		</div>
			<ul class="col-sm-6 list-group">
				<% @tweets.each do |t| %>
						<li class="list-group-item">
							<p><%= t.tweet %></p>
							<div class="tweet-footer">
								<span ><%= t.user.username %></span> | 
								<span><%= t.created_at.in_time_zone("Melbourne").strftime('%A %d %b %Y %H:%M') %></span>
							</div>
						</li>
				<% end %>
			</ul>
		<div class="col-sm-3"></div>

		
	</div>